<launch>
  <group name="arm">
    <include file="$(find camera)/launch/camera.launch">
      <arg name="side" value="$(arg side)"/>
    </include>
    <include file="$(find dynamixel_launcher)/launch/dynamixel.launch">
      <arg name="side" value="$(arg side)"/>
    </include>
    <include file="$(find led_controller)/launch/led_controller.launch">
      <arg name="side" value="$(arg side)"/>
    </include>
    <include file="$(find eye_tracking)/launch/tracking.launch">
      <arg name="side" value="$(arg side)"/>
    </include>
    <node name="$(anon shutdown)" pkg="ros_manager" type="shutdown.py" output="screen"/>
  </group>
</launch>
