<launch>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	<group ns="image/left">
		<node name="rostopic_image_show2" pkg="rostopic" type="rostopic" args="pub /image/left/show std_msgs/Bool true -r 1.0"/>
		<node name="rostopic_angle" pkg="rostopic" type="rostopic" args="pub /image/left/angle std_msgs/Float32 90.0 -r 0.5"/>
		<node name="rostopic_angle2" pkg="rostopic" type="rostopic" args="pub /image/left/angle std_msgs/Float32 45.0 -r 0.25"/>
		<node name="rostopic_scale" pkg="rostopic" type="rostopic" args="pub /image/left/scale std_msgs/Float32 0.5 -r 1"/>
		<node name="rostopic_filename" pkg="rostopic" type="rostopic" args="pub /image/left/filename std_msgs/String doge.jpg -r 0.5"/>

		<param name="image_directory" type="str" value="/home/jon/" />
		<node name="image_viewer" pkg="image_viewer_fs" type="image_viewer_fs_node" output="screen"/>
	</group>
	<group ns="image/right">
		<node name="rostopic_image_show2" pkg="rostopic" type="rostopic" args="pub /image/right/show std_msgs/Bool true -r 1.0"/>
		<node name="rostopic_angle" pkg="rostopic" type="rostopic" args="pub /image/right/angle std_msgs/Float32 90.0 -r 0.5"/>
		<node name="rostopic_angle2" pkg="rostopic" type="rostopic" args="pub /image/right/angle std_msgs/Float32 45.0 -r 0.25"/>
		<node name="rostopic_scale" pkg="rostopic" type="rostopic" args="pub /image/right/scale std_msgs/Float32 0.5 -r 1"/>
		<node name="rostopic_filename" pkg="rostopic" type="rostopic" args="pub /image/right/filename std_msgs/String doge.jpg -r 0.5"/>			
		<param name="image_directory" type="str" value="/home/jon/" />
		<node name="image_viewer" pkg="image_viewer_fs" type="image_viewer_fs_node" output="screen"/>
	</group>
</launch>